<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>The Marco</string>
	<key>author</key>
	<string>@marcoarment</string>
	<key>brewer</key>
	<string>AeroPress</string>
	<key>steps</key>
	<array>
		<dict>
			<key>value</key>
			<integer>1</integer>
			<key>type</key>
			<string>Invert</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>100</integer>
			<key>type</key>
			<string>Heat</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>12</integer>
			<key>type</key>
			<string>BeanCount</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>30</integer>
			<key>type</key>
			<string>Grind</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>240</integer>
			<key>type</key>
			<string>Pour</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>4</integer>
			<key>type</key>
			<string>Stir</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>34</integer>
			<key>type</key>
			<string>Press</string>
		</dict>
	</array>
</dict>
</plist>
