<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Andrew&apos;s Attempt</string>
		<key>author</key>
		<string>@scatterfelt</string>
		<key>brewer</key>
		<string>AeroPress</string>
		<key>steps</key>
		<array>
			<dict>
				<key>value</key>
				<integer>10</integer>
				<key>type</key>
				<string>Pour</string>
			</dict>
			<dict>
				<key>value</key>
				<real>100</real>
				<key>type</key>
				<string>Heat</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>5</integer>
				<key>type</key>
				<string>Stir</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>30</integer>
				<key>type</key>
				<string>Pour</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>15</integer>
				<key>type</key>
				<string>Stir</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>65</integer>
				<key>type</key>
				<string>Press</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Lindsay&apos;s Latte</string>
		<key>author</key>
		<string>@lindsantiago</string>
		<key>brewer</key>
		<string>AeroPress</string>
		<key>steps</key>
		<array>
			<dict>
				<key>value</key>
				<integer>92</integer>
				<key>type</key>
				<string>Heat</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>35</integer>
				<key>type</key>
				<string>Pour</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>5</integer>
				<key>type</key>
				<string>Stir</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>40</integer>
				<key>type</key>
				<string>Press</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Brad&apos;s Boilin&apos; Brew</string>
		<key>author</key>
		<string>Brad Maurer</string>
		<key>brewer</key>
		<string>AeroPress</string>
		<key>steps</key>
		<array>
			<dict>
				<key>value</key>
				<real>100</real>
				<key>type</key>
				<string>Heat</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>38</integer>
				<key>type</key>
				<string>Pour</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>7</integer>
				<key>type</key>
				<string>Stir</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>50</integer>
				<key>type</key>
				<string>Press</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Carlos&apos; Cup</string>
		<key>author</key>
		<string>Carlos</string>
		<key>brewer</key>
		<string>AeroPress</string>
		<key>steps</key>
		<array>
			<dict>
				<key>value</key>
				<real>78</real>
				<key>type</key>
				<string>Heat</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>5</integer>
				<key>type</key>
				<string>Pour</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>5</integer>
				<key>type</key>
				<string>Stir</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>30</integer>
				<key>type</key>
				<string>Pour</string>
			</dict>
			<dict>
				<key>value</key>
				<integer>55</integer>
				<key>type</key>
				<string>Press</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
