<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Marco&apos;s Best</key>
	<array>
		<dict>
			<key>action</key>
			<string>Heat</string>
			<key>howHotCelsius</key>
			<real>80.59999999999999</real>
		</dict>
		<dict>
			<key>action</key>
			<string>Pour</string>
			<key>howMuch</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>action</key>
			<string>Stir</string>
			<key>howLong</key>
			<string>15</string>
		</dict>
		<dict>
			<key>action</key>
			<string>Press</string>
			<key>howLong</key>
			<integer>75</integer>
		</dict>
	</array>
</dict>
</plist>
